<p>mi-primer-componente funciona!!!</p>
<p>Bienvenido {{mensaje}} </p>

<img [ngClass]="{'miclase-special' : esEspecial}" [alt]="textoImagen" [src]="urlImagen">
<p [ngStyle]="{'color': colorStyle}">{{mensajeinicializacion}}</p>
<input placeholder="ingrese nombre" ng-disabled="esEspecial" />
<button type="button" (click)="saludar()">Saludar</button>
<app-mi-componente-hijo (mensajeSalida)="recibirMensaje($event)"
    [mensaje]="mensajePadre | lowercase"></app-mi-componente-hijo>

<div *ngIf="esEspecial">
    <p>este mensaje esEspecial es verdadero</p>
</div>
<div *ngIf="!esEspecial">
    <p>este mensaje esEspecial es false</p>
</div>

<h2> uso de ngFor</h2>
<section *ngIf="esEspecial">
    <p *ngFor="let persona of personas">
        {{persona.nombre}}
        - {{persona.edad}}
        - {{persona.vacuna ? 'vacunado': 'no vacunado'}}
        - {{persona.edad > 18 ? 'Mayor de edad': 'Menor de edad' }}
    </p>
</section>

<h2>uso de ngswitch</h2>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'rojo'">
        <section *ngIf="esEspecial">
            <p *ngFor="let persona of personas">
                {{persona.nombre}}
                - {{persona.edad}}
                - {{persona.vacuna ? 'vacunado': 'no vacunado'}}
                - {{persona.edad > 18 ? 'Mayor de edad': 'Menor de edad' }}
            </p>
        </section>
    </div>
    <p *ngSwitchCase="'azul'">El color es azul</p>
    <p *ngSwitchCase="'verde'">El color es verde</p>
    <p *ngSwitchDefault>El color es desconocido</p>
</div>

<h2>uso de ng-template y ng-container</h2>

<ng-template #miTemplate let-param1="nombre" let-param2="edad">
    <p>este es mi template. Nombre: {{param1}}, Edad: {{param2}}</p>
</ng-template>

<ng-container *ngFor="let persona of personas">
    <ng-container
        *ngTemplateOutlet="miTemplate ; context:{nombre: persona.nombre , edad: persona.edad} "></ng-container>
</ng-container>

<h2>uso ngIf con template</h2>
<div *ngIf="esEspecial; then TesEspecial else TnoEsEspecial"></div>

<ng-template #TesEspecial>
    <p>Este es mi template verdadero</p>
</ng-template>

<ng-template #TnoEsEspecial>
    <p>Este es mi template false</p>
</ng-template>

<h2>uso de directiva textColor</h2>

<p appTextColor="green">este texto es de color verde</p>
<p appTextColor="red">este texto es de color rojo</p>
<p appTextColor>este texto es de color rojo</p>

<h2>uso de pipes</h2>
<p>ejemplo mensaje sin pipe: {{mensajePipes }}</p>
<p>ejemplo slice pipe: {{mensajePipes | slice:0:8000}}</p>
<p>ejemplo number pipe: {{numeroPipes | number: ''}}</p>
<p>ejemplo currecy pipe: {{numeroPipes | currency: '':'symbol':'0.1-2':'es-MX'}}</p>
<p>ejemplo percent pipe: {{numeroPipes | percent:'0.3-4'}}</p>
<p>ejemplo json pipe: {{personas | json}}</p>
<p>ejemplo lowercase pipe: {{mensajePipes | lowercase}}</p>
<p>ejemplo uppercase pipe: {{mensajePipes | uppercase}}</p>
<p>ejemplo capitalizar pipe: {{mensajePipes | capitalizar:'<'}}</p>
<p>ejemplo de pipe para fechas (date): {{fechaActual |date: 'dd-MM-yyyy h:mm':'': 'es-MX'}}</p>

<h3> ejemplo pipe impuro</h3>
<p>La cantidad de elementos fechas es {{ fechas | numElement}}</p>
<button (click)="addDate()"> Añadir fecha</button>
<div *ngFor="let fecha of fechas">
        <p>{{fecha | date:'dd/MM/yyyy hh:mm:ss'}}</p>
</div>