<div>
    <mat-icon>home</mat-icon>
    <span>Icono de home</span>
</div>

<div>
    <mat-icon>grade</mat-icon>
    <span>Icono de grade</span>
</div>

<div>
    <mat-icon color="primary">delete</mat-icon>
    <mat-icon color="accent">delete</mat-icon>
    <mat-icon color="warn">delete</mat-icon>
    <span>Icono de delete</span>
</div>

<div>
    <mat-icon color="primary">toggle_off</mat-icon>
    <mat-icon color="accent">toggle_off</mat-icon>
    <mat-icon color="warn">toggle_off</mat-icon>
    <span>Icono de toggle_off</span>
</div>

<div>
    <button mat-stroked-button><mat-icon color="primary">toggle_off</mat-icon>Boton primario</button>
    <button mat-stroked-button><mat-icon color="accent">toggle_off</mat-icon>Boton accent</button>
    <button mat-stroked-button><mat-icon color="warn">toggle_off</mat-icon>Boton warn</button>
</div>


<div>
    <button mat-fab extended color="primary">
        <mat-icon color="accent">toggle_off</mat-icon>
        Boton Fav
    </button>
</div>

<div>
    <a mat-stroked-button href="https://www.google.cl"><mat-icon color="primary">menu</mat-icon> Enlace a google</a>
    <a mat-stroked-button href="https://www.google.cl"><mat-icon color="accent">menu</mat-icon> Enlace a google</a>
    <a mat-stroked-button href="https://www.google.cl"><mat-icon color="warn">menu</mat-icon> Enlace a google</a>
</div>