<h1>Hola al curso de angular!!!!!</h1>
<nav>
    <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/admin">Dashboard Administrador</a></li>
        <li><a routerLink="/formulario-uno">Formulario Uno</a></li>
        <li><a routerLink="/formulario-dos">Formulario Dos</a></li>
        <li><a routerLink="/animation-todo">Animacion ToDo</a></li>
        <li><a routerLink="/animation-collapsable">Animacion Collapsable</a></li>
        <li><a routerLink="/material-standalone">Material standalone</a></li>
        <li><a routerLink="/material-autocomplete">Material autocomplete</a></li>
        <li><a routerLink="/material-badge">Material badge</a></li>
        <li><a routerLink="/material-bsheet">Material Bottom Sheet</a></li>
        <li><a routerLink="/material-button">Material Button</a></li>
        <li><a routerLink="/material-card">Material Card</a></li>
        <li><a routerLink="/material-icons">Material Icons</a></li>
        <li><a routerLink="/material-tooltip">Material Tooltips</a></li>
        <li><a routerLink="/material-tabs">Material Tabs</a></li>
        <li><a routerLink="/material-grids">Material grids</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>